extends ../layouts/default
include ../helpers/mixins
include ../../components/button/button

block variables 
  - const title = "index page"

block content
  main.main
    h2 index page
    +button({title:"button",isMain:true})(disabled)


